* {	padding: 0px;	margin: 0px;}

/* sticky footer code from www.cssstickyfooter.com */

html, body {height: 100%}
#wrap {min-height: 100%;}

#pagebody {
	overflow:auto;
	padding-top: 3em;
	padding-bottom: 6em;  /* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -6em; /* negative value of footer height */
	height: 6em;
	clear:both;
	background-color: #213958;
} 

#headerbox {
	background-color: #EEF7F0;
	padding-left: 2em;
/*	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px; */
	box-shadow: 0em 1em 1em #EEF7F0;
}

#headertitle {
	font-family: "Centaur";
	color: #000000;
	font-size: 2.5em;
	text-align: left;
	padding-top: 1em;
	padding-bottom: .5em;
}
#menubar {
	padding-top: 1em;
	padding-bottom: 2em;
	float: right;
	font-family: "Palatino Linotype";
}

#menubar a:link { color: #1A602F; text-decoration:none;}
#menubar a:visited { color: #1A602F; text-decoration:none;}
#menubar a:hover { color: #1A311A; text-decoration:none;}

#menubar td {
	padding-right: 2em;
}

#pagebody {
	padding-left: 3em;
	margin-right: 25%;
	font-family: "Trebuchet MS";
	text-align: justify;
	color: #4A3726;
}

#footercontactinfo {
	font-family: "Book Antiqua";
	font-size: .75em;
	color: #E0EDFA;
	padding-top: 2.25em;
	padding-left: 2.5em;
}

#footercontactinfo a:link {color: #E0EDFA; text-decoration:none;}
#footercontactinfo a:visited {color: #E0EDFA; text-decoration:none;}
#footercontactinfo a:hover {color: #ABCBE9; text-decoration:none;}

#footerhosting {
	padding-right: 4em;
	padding-top: 4em;
	font-size: .6em;
	color: #E0EDFA;
	float: right;
}

#footerhosting a:link {color: #E0EDFA; text-decoration:none;}
#footerhosting a:visited {color: #E0EDFA; text-decoration:none;}
#footerhosting a:hover {color: #ABCBE9; text-decoration:none;}